*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* @media (min-width:500px) and (max-width:900px) {
    h1{
        font-size: 40px;
        color: green;
    }
} */


.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box{
    display: flex;
    align-items: center;
    gap: 10px;
}
header{
    padding: 21px 24px;
}

.btn{
    width: 256px;
    height: 36px;
    border-radius: 12px;
    background: rgb(252, 0, 74);
    border: none;
    color: white;
}

nav{
    display: flex;
    gap: 10px;
}
nav a{
   

width: 41.76px;
height: 24px;
display: flex;

align-items: center;
text-decoration: none;

}
.container1{
    padding: 21px 24px;
}

.container1 img{
    width: 100%;
    border-radius: 10px;
}
.box3 img{
    display: none;
}

.box1{
    width: 300px;
    height: 391px;
    box-shadow: 0px 1px 0px 0px;
    border-radius: 20px;
}

.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 21px 24px;
}
.box1 img{
    width: 100%;
    height: 270px;
    padding: 20px;
}

@media (max-width:1064px) {
    .box img{
        display: none;
    }
}


@media (max-width:640px) {
    .btn{
        height: 50px;
    }
    nav{
        display: none;
    }
    .box3 img{
        display: flex;
    }
    .container2{
        justify-content: center;
    }
}

h2{
    display: flex;
    padding: 21px 24px;
}